<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Base de datos -->
    <add key="connStringOld" value="Server=basedatos-test.database.windows.net;Initial Catalog=CardMaster29OctubreMigr;User ID=AdminTest;Password=P@ssw0rd; Column Encryption Setting=Enabled;" />
    <!-- Base de datos -->
    <add key="connStringCardDB" value="Server=basedatos-test.database.windows.net;Initial Catalog=CardDB_29OctMigr;User ID=AdminTest;Password=P@ssw0rd;" />
    <!-- Base de datos -->
    <add key="connStringPhiAdmin" value="Server=basedatos-test.database.windows.net;Initial Catalog=phi_admin;User ID=AdminTest;Password=P@ssw0rd;" />
    <!-- Azure Key Vault -->
    <add key="AzureKeyVault" value="KV,e90cd1e5-38ec-41ac-8433-0e9fd01e3b96,AL?b0.[Ajpfy:KJyO1alLBBXf1WyDv3n" />
    <!-- Institution ID -->
    <add key="InstitutionID" value="45" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CardDBEntities" connectionString="metadata=res://*/CardDBModel.csdl|res://*/CardDBModel.ssdl|res://*/CardDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=basedatos-test.database.windows.net;initial catalog=CardDB_29OctMigr;user id=AdminTest;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CardMasterEntities" connectionString="metadata=res://*/CardMaster.csdl|res://*/CardMaster.ssdl|res://*/CardMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=basedatos-test.database.windows.net;initial catalog=CardMaster29OctubreMigr;user id=AdminTest;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="phiAdminEntities" connectionString="metadata=res://*/PhiAdminModel.csdl|res://*/PhiAdminModel.ssdl|res://*/PhiAdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=basedatos-test.database.windows.net;initial catalog=phi_admin;user id=AdminTest;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>